In [11]:
import json
import pandas as pd
import time
import glob

In [12]:
data1 = pd.read_csv('/home/labnauk/data_analysis/MAG0_1_2/full_clean_df.csv', sep=',')
data2 = pd.read_csv('/home/labnauk/data_analysis/MAG0_3/full_clean_df.csv', sep=',')
data3 = pd.read_csv('/home/labnauk/data_analysis/MAG0_4/full_clean_df.csv', sep=',')
data4 = pd.read_csv('/home/labnauk/data_analysis/MAG0_5/full_clean_df.csv', sep=',')
data5 = pd.read_csv('/home/labnauk/data_analysis/MAG1_1/full_clean_df.csv', sep=',')

In [13]:
df1 = pd.DataFrame.from_dict(data1)
df2 = pd.DataFrame.from_dict(data2)
df3 = pd.DataFrame.from_dict(data3)
df4 = pd.DataFrame.from_dict(data4)
df5 = pd.DataFrame.from_dict(data5)

In [14]:
df_c1 = pd.merge(df1, df2,  how='outer')
df_c2 = pd.merge(df3, df4,  how='outer')
df_c3 = pd.merge(df_c2, df5,  how='outer')
df_clean = pd.merge(df_c3, df_c1,  how='outer')

In [15]:
df1.iloc[0:0]
df2.iloc[0:0]
df3.iloc[0:0]
df4.iloc[0:0]
df5.iloc[0:0]
df_c1.iloc[0:0]
df_c2.iloc[0:0]
df_c3.iloc[0:0]

df_clean.head()

,Unnamed: 0,n_citation,year,keywords
0,1,6.0,2003.0,"Biochemistry,DNA,Polymerase chain reaction opt..."
1,2,1.0,2015.0,"Peer group,Normality,Special education,Masculi..."
2,3,0.0,2006.0,"Preservative,Biology"
3,4,12.0,2016.0,"Emergency management,Nursing,Social media,Inju..."
4,5,0.0,2008.0,"Financial system,Valuation (finance),Finance,A..."

In [16]:
df_clean.drop(df_clean.columns[df_clean.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
df_clean = df_clean.drop(columns=['n_citation'])

In [17]:
df_clean.head()

     year                                           keywords
0  2003.0  Biochemistry,DNA,Polymerase chain reaction opt...
1  2015.0  Peer group,Normality,Special education,Masculi...
2  2006.0                               Preservative,Biology
3  2016.0  Emergency management,Nursing,Social media,Inju...
4  2008.0  Financial system,Valuation (finance),Finance,A...

In [ ]:
d={}
for values in df_clean["year"]:
    d["{0}".format(values)] = df_clean.loc[df_clean["year"] == values]

In [ ]:
s = ','
s.join(list(d.items())[0][1]["keywords"].values.tolist())

In [ ]:
list(d.items())[1][1]["year"].values.tolist()[0]

In [ ]:
s = ','
keyw = []
year = []
for i in range(len(d)):
    keyw.append(s.join(list(d.items())[i][1]["keywords"].values.tolist()))
    year.append(list(d.items())[i][1]["year"].values.tolist()[0])

In [ ]:
key_words = pd.DataFrame(keyw, columns=['key words'])

In [ ]:
key_words.insert(0,"year",year)

In [ ]:
key_words.head()

In [ ]:
key_words_divided = pd.DataFrame(key_words["key words"].str.split(',',0).tolist())
key_words_divided.insert(0,"year",year)

In [ ]:
key_words_divided.head()

In [ ]:
common_v = []
common2_v = []
for i in range(len(d)):
    common_v.append(key_words_divided.iloc[i].mode()[0])
    if len(key_words_divided.iloc[i].value_counts()) >= 2:
        common2_v.append(key_words_divided.iloc[i].value_counts()[:2].index.tolist()[1])
    else:
        common2_v.append("")

In [ ]:
common_v

In [ ]:
key_words_divided.iloc[1].mode()

In [ ]:
key_words_divided.iloc[1].value_counts()[:2].index.tolist()[1]

In [ ]:
most_common_key_word = pd.DataFrame(common_v, columns=["most common key"])
most_common_key_word.insert(1,"second most popular key",common2_v)
most_common_key_word.insert(0,"year",year)
most_common_key_word.sort_values(by=['year'])

In [ ]:
file= open("info.txt","w+")

file.write("to już")

file.close()

In [ ]:
df_clean.to_csv(r'/home/labnauk/data_analysis/full_clean_df.csv')
key_words_divided.to_csv(r'/home/labnauk/data_analysis/key_words_divided.csv')